input, textarea{
    width: 100%;
    padding-block: 0.8rem;
    padding-left: 1rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    color: var(--text-body);
}

