input[type="radio"] {
    position: absolute;
    appearance: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.radio-wrapper {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding: 0.2rem;
}

.radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0.6rem;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

.radio-inner:last-child {
    border-right: none;
}

.radio-inner:hover{
    background-color: var(--shape-hover);
    border-radius: 0.25rem
}

.radio-inner:has(input[type="radio"]:checked) {
    background-color: var(--shape-hover);
    border-radius: 0.25rem;
    
}

.radio-inner label {
    cursor: pointer;
    margin: 0;
    font: var(--text-sm);
    font-weight: 500;
    color: var(--text-body);
    margin-left: 0.25rem;
}

.radio-image-1 {
    width: 1rem;
    height: 1rem;
    background-image: url('../../assets/icons/presencial.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.radio-image-2 {
    width: 1rem;
    height: 1rem;
    background-image: url('../../assets/icons/online.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.radio-inner:has(input[type="radio"]:checked) .radio-image-1 {
    background-image: url('../../assets/icons/presencial-checked.svg');
    
}

.radio-inner:has(input[type="radio"]:checked) .radio-image-2 {
    background-image: url('../../assets/icons/online-checked.svg');
    
}

/* Estilo específico para os radio-inner na seção de cores */
.color-theme .radio-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

/* Estilo para os botões de rádio na seção de cores */
.color-theme .radio-inner {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 0.4rem solid #2d3136;
    position: relative;
}

/* Esconde o input nativo mas mantém funcional */
.color-theme .radio-inner input{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.color-theme .radio-inner:hover{
    border: solid 0.2rem var(--brand-light);
    transition: all 0.2s ease;
}

/* Seletor separado para o estado checked quando hover */
.color-theme .radio-inner:has(input[type="radio"]:checked) {
    border-radius: 100%;
    border: solid 0.2rem var(--brand-light);
    width: 2rem;
    height: 2rem;
}


/* Cores para os botões de rádio */
.color-theme .radio-inner{
    &:has(#blue){
        background-color: var(--brand-light);
    }

    &:has(#navy){
        background-color: #6A59FF;
    }

    &:has(#purple){
        background-color: #B259FF;
    }

    &:has(#furshia){
        background-color: #FF59F9;
    }

    &:has(#pink){
        background-color: #FF598B;
    }

    &:has(#danger){
        background-color: #FF5959;
    }

    &:has(#orange){
        background-color: #FF8B59;
    }

    &:has(#yellow){
        background-color: #FFCD59;
    }

    &:has(#lime){
        background-color: #E1FF59;
    }

    &:has(#green){
        background-color: #59FF91
    }

    &:has(#cyan){
        background-color: #59FFF9;
    }
}



.theme-section{
    
    .radio-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        gap: 0.5rem;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .radio-inner{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
        width: 8.3rem;
        background-color: var(--shape-button);
        border-radius: 0.25rem;
        text-align: center;
    }

    & img{
        display: grid;
        justify-content: center;
        padding: 0.25rem;        
    }

 
    & label{
        margin-bottom: 0.5rem;
    }

    & .radio-inner:hover{
        outline: solid 0.2rem var(--brand-light);
    }

    & .radio-inner:has(input[type="radio"]:checked){
        outline: solid 0.2rem var(--brand-light);
    }


}


